In [1]:
import pandas as pd
from chefboost import Chefboost as chef
from chefboost.training import Training

-----------------------------
ID3

In [2]:
df = pd.read_csv("Golf.txt")
df

     Outlook Temperature Humidity    Wind Decision
0      Sunny         Hot     High    Weak       No
1      Sunny         Hot     High  Strong       No
2   Overcast         Hot     High    Weak      Yes
3       Rain        Mild     High    Weak      Yes
4       Rain        Cool   Normal    Weak      Yes
5       Rain        Cool   Normal  Strong       No
6   Overcast        Cool   Normal  Strong      Yes
7      Sunny        Mild     High    Weak       No
8      Sunny        Cool   Normal    Weak      Yes
9       Rain        Mild   Normal    Weak      Yes
10     Sunny        Mild   Normal  Strong      Yes
11  Overcast        Mild     High  Strong      Yes
12  Overcast         Hot   Normal    Weak      Yes
13      Rain        Mild     High  Strong       No

In [3]:
config = {'algorithm': 'ID3'}

In [4]:
model = chef.fit(df, config)

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.33859801292419434  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [5]:
chef.predict(model, ['Sunny', 'Hot', 'High', 'Weak'])

'No'

In [6]:
Training.findGains(df[df['Outlook'] == 'Sunny'].drop(columns = ["Outlook"]), config)

{'gains': {'Temperature': 0.5709505944546686,
  'Humidity': 0.9709505944546686,
  'Wind': 0.01997309402197489},
 'entropy': 0.9709505944546686}

In [7]:
df[df['Outlook'] == 'Sunny']

   Outlook Temperature Humidity    Wind Decision
0    Sunny         Hot     High    Weak       No
1    Sunny         Hot     High  Strong       No
7    Sunny        Mild     High    Weak       No
8    Sunny        Cool   Normal    Weak      Yes
10   Sunny        Mild   Normal  Strong      Yes

-----------------------------
C4.5

In [8]:
df = pd.read_csv("Golf2.txt")
df.head()

    Outlook  Temperature  Humidity    Wind Decision
0     Sunny           85        85    Weak       No
1     Sunny           80        90  Strong       No
2  Overcast           83        78    Weak      Yes
3      Rain           70        96    Weak      Yes
4      Rain           68        80    Weak      Yes

In [9]:
config = {'algorithm': 'C4.5'}

In [10]:
model = chef.fit(df, config)

[INFO]:  2 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  0.508105993270874  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [11]:
chef.predict(model, ['Sunny', 82, 90, 'Strong'])

'No'